@model IEnumerable<GradeRegZTP.ViewModel.StudentGroupViewModel>

@{
    ViewBag.Title = "Details";
}
<style>

    table {
        counter-reset: rownumber;
    }

        table tr td:first-child {
            counter-increment: rownumber;
        }

            table tr td:first-child::before {
                content: counter(rownumber);
            }
</style>
<h2>@Model.FirstOrDefault().SubjectName </h2>
<div class="form-horizontal">
    
        <h4>@Model.FirstOrDefault().StudentGroupName</h4>
        <div class="form-group">
        
            <div class="  col-md-1">
                @Html.ActionLink("Dodaj Oceny", "AddGrade", "StudentsGroups", routeValues: new { studentGroupId = Model.FirstOrDefault().StudentGroupId, subjectId = Model.FirstOrDefault().SubjectId }, htmlAttributes: new { @class = "btn btn-primary" })

            </div>
        </div>


        <table class="table">
            <tr>
                <th width="20%">
                    Uczeń
                </th>
                <th>
                    Oceny
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.MyUser.Name @item.MyUser.Surname
                    </td>
                    <td>
                        @foreach (var grade in item.Grades)
                        {

                            @Html.ActionLink(Math.Round(grade.Value, 1).ToString() + " ", "Details", "Grades", routeValues: new { id = grade.Id }, htmlAttributes: null)

                        }
                    </td>
                </tr>
            }


        </table>
    </div>



