@model GradeRegZTP.Models.HourOfDay

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz to usunąć?</h3>
<div>
    <h4>Zajęcia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeek.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hour.HourString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour.HourString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsGroup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsGroup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
